# Data Wrangling

In [2]:
import pandas as pd

# Show all columns
pd.set_option('display.max_columns', None)

In [3]:
data = pd.read_excel('data/data.xlsx')

In [4]:
# Calculate score of each subscale
## PT: personality: 3, 8, 11, 15, 21, 25 and 28
## FS: personality: 1, 5, 7, 12, 16, 23 and 26
## EC: personality: 2, 4, 9, 14, 18, 20 and 22
## PD: personality: 6, 10, 13, 17, 19, 24 and 27
select_PT = [f'personality:{i}' for i in [3, 8, 11, 15, 21, 25, 28]]
select_FS = [f'personality:{i}' for i in [1, 5, 7, 12, 16, 23, 26]]
select_EC = [f'personality:{i}' for i in [2, 4, 9, 14, 18, 20, 22]]
select_PD = [f'personality:{i}' for i in [6, 10, 13, 17, 19, 24, 27]]

data['PT'] = data[select_PT].sum(axis=1)/7
data['FS'] = data[select_FS].sum(axis=1)/7
data['EC'] = data[select_EC].sum(axis=1)/7
data['PD'] = data[select_PD].sum(axis=1)/7

In [5]:
data['country:1'] = data['country:1'].str.lower()

In [6]:
data['country:1'] = data['country:1'].replace('usa', 'united states')
data['country:1'] = data['country:1'].replace('united states of america', 'united states')
data['country:1'] = data['country:1'].replace('italy ', 'italy')

In [7]:
print(data['country:1'].unique().shape)

(17,)

In [8]:
#print all unique values of country
data['country:1'].unique()

array(['israel', 'latvia', 'italy', 'france', 'cyprus ', 'china',
       'switzerland', 'greece', 'ireland', 'australia', 'united kingdom',
       'palestine', 'morroco ', 'cyprus', 'syria', 'united states',
       'hungary'], dtype=object)

In [9]:
data['genre:1'] = data['genre:1'].replace([1, 2, 3], ['M', 'F', 'O'])
for i in range(1, 13):
    data[f'Q{i}:1'] = data[f'Q{i}:1'].replace({1: True, 2: False}).astype('bool')

In [10]:
select_col = [f'Q{i}:1' for i in range(1, 13)]

data['Truth Count'] = data[select_col].sum(axis=1).astype(int)
data['Lies Count'] = (12 - data['Truth Count']).astype(int)

# Split english proficiency into categories -> How many?

In [11]:
# On average how confident are people when answering truth/lie
data['Avg Confidence Truth'] = 0
data['Avg Confidence Lie'] = 0
data['Avg Confidence General'] = 0



# calculate average confidence for True answers
for i in range(1, 13):
    q_col = f'Q{i}:1'
    q_conf_col = f'Q{i}_2:1'
    data.loc[data[q_col], 'Avg Confidence Truth'] += data[q_conf_col] / data['Truth Count']

# calculate average confidence for False answers
for i in range(1, 13):
    q_col = f'Q{i}:1'
    q_conf_col = f'Q{i}_2:1'
    data.loc[~data[q_col], 'Avg Confidence Lie'] += data[q_conf_col] / data['Lies Count']

# calculate average confidence for all answers
for i in range(1, 13):
    q_conf_col = f'Q{i}_2:1'
    data['Avg Confidence General'] += data[q_conf_col] / 12

In [12]:
veracity = [True, True, True, True, True, False, False, False, False, False, False, True]
len(veracity)
data["Accuracy"] = 0
accuracy = 0
for i in range(1, 13):
    q_col = f'Q{i}:1'
    data.loc[data[q_col] == veracity[i-1], 'Accuracy'] += 1/len(veracity)

In [ ]:
leakage = []

In [13]:
data.head(1)

,participant,age:1,genre:1,english:1,country:1,personality:1,personality:2,personality:3,personality:4,personality:5,personality:6,personality:7,personality:8,personality:9,personality:10,personality:11,personality:12,personality:13,personality:14,personality:15,personality:16,personality:17,personality:18,personality:19,personality:20,personality:21,personality:22,personality:23,personality:24,personality:25,personality:26,personality:27,personality:28,Q1:1,Q1_2:1,Q2:1,Q2_2:1,Q3:1,Q3_2:1,Q4:1,Q4_2:1,Q5:1,Q5_2:1,Q6:1,Q6_2:1,Q7:1,Q7_2:1,Q8:1,Q8_2:1,Q9:1,Q9_2:1,Q10:1,Q10_2:1,Q11:1,Q11_2:1,Q12:1,Q12_2:1,TIME_start,TIME_end,TIME_total,PT,FS,EC,PD,Truth Count,Lies Count,Avg Confidence Truth,Avg Confidence Lie,Avg Confidence General,Accuracy
0,s.54cdd6e1-ce13-449a-a7bf-ce45faff34a1.txt,22,F,10,israel,5,4,2,3,5,3,5,4,3,5,3,5,4,3,4,5,3,3,1,4,2,5,5,1,3,4,1,3,False,51,False,60,True,78,False,60,False,59,True,66,True,78,False,50,False,50,True,69,False,80,False,80,2023-04-15-21-26,2023-04-15-21-57,31,3.0,4.857143,3.571429,2.571429,4,8,72.75,61.25,65.083333,0.333333

In [16]:
clean_data = data[['country:1', 'genre:1', 'age:1', 'english:1', 'PT', 'FS', 'EC', 'PD', 'Accuracy', 'Truth Count', 'Lies Count', 'Avg Confidence Truth', 'Avg Confidence Lie', 'Avg Confidence General', 'TIME_total']]

In [17]:
# Rename columns
clean_data = clean_data.rename({'country:1': 'Country', 'genre:1': 'Sex', 'english:1': 'English Proficiency', 'age:1': 'Age', 'TIME_total': 'Time Spent (min)'}, axis=1)

# Exoport to csv
clean_data.to_csv('data/clean_data.csv', index=False)

In [18]:
clean_data.head()

,Country,Sex,Age,English Proficiency,PT,FS,EC,PD,Accuracy,Truth Count,Lies Count,Avg Confidence Truth,Avg Confidence Lie,Avg Confidence General,Time Spent (min)
0,israel,F,22,10,3.000000,4.857143,3.571429,2.571429,0.333333,4,8,72.750000,61.250000,65.083333,31
1,latvia,M,22,10,3.285714,4.000000,3.571429,1.857143,0.416667,9,3,74.555556,84.000000,76.916667,12
2,italy,M,23,9,4.428571,3.142857,3.142857,2.142857,0.583333,9,3,67.777778,70.000000,68.333333,8
3,italy,M,24,7,2.857143,4.000000,3.428571,2.571429,0.500000,6,6,71.833333,61.500000,66.666667,11
4,france,F,22,9,2.285714,4.285714,3.571429,3.000000,0.500000,6,6,62.833333,78.833333,70.833333,9

In [19]:
data.head(50)

,participant,age:1,genre:1,english:1,country:1,personality:1,personality:2,personality:3,personality:4,personality:5,personality:6,personality:7,personality:8,personality:9,personality:10,personality:11,personality:12,personality:13,personality:14,personality:15,personality:16,personality:17,personality:18,personality:19,personality:20,personality:21,personality:22,personality:23,personality:24,personality:25,personality:26,personality:27,personality:28,Q1:1,Q1_2:1,Q2:1,Q2_2:1,Q3:1,Q3_2:1,Q4:1,Q4_2:1,Q5:1,Q5_2:1,Q6:1,Q6_2:1,Q7:1,Q7_2:1,Q8:1,Q8_2:1,Q9:1,Q9_2:1,Q10:1,Q10_2:1,Q11:1,Q11_2:1,Q12:1,Q12_2:1,TIME_start,TIME_end,TIME_total,PT,FS,EC,PD,Truth Count,Lies Count,Avg Confidence Truth,Avg Confidence Lie,Accuracy
0,s.54cdd6e1-ce13-449a-a7bf-ce45faff34a1.txt,22,F,10,israel,5,4,2,3,5,3,5,4,3,5,3,5,4,3,4,5,3,3,1,4,2,5,5,1,3,4,1,3,False,51,False,60,True,78,False,60,False,59,True,66,True,78,False,50,False,50,True,69,False,80,False,80,2023-04-15-21-26,2023-04-15-21-57,31,3.000000,4.857143,3.571429,2.571429,4,8,72.750000,61.250000,0.333333
1,s.ed5d036d-85c5-4019-b45b-0f4c77671f68.txt,22,M,10,latvia,4,4,5,1,2,2,2,3,4,3,4,5,2,4,2,5,3,5,1,4,1,3,5,1,3,5,1,5,True,84,False,74,False,97,True,54,True,75,True,53,True,94,True,97,False,81,True,85,True,62,True,67,2023-04-19-16-59,2023-04-19-17-11,12,3.285714,4.000000,3.571429,1.857143,9,3,74.555556,84.000000,0.416667
2,s.8c483281-2b26-44ac-90eb-0fe6d6494cde.txt,23,M,9,italy,4,4,4,3,3,2,2,4,3,2,5,4,3,3,5,4,2,3,2,4,5,2,3,2,4,2,2,4,True,70,True,80,True,55,False,70,True,55,False,80,False,60,True,65,True,60,True,85,True,90,True,50,2023-04-06-20-52,2023-04-06-21-00,8,4.428571,3.142857,3.142857,2.142857,9,3,67.777778,70.000000,0.583333
3,s.bc60d408-b74e-45f7-a191-881d54d06c4c.txt,24,M,7,italy,3,4,3,3,4,2,4,2,3,2,4,5,2,3,2,4,5,5,3,3,2,3,4,1,3,4,3,4,True,64,False,57,False,61,True,70,True,66,False,61,True,61,True,100,True,70,False,61,False,66,False,63,2023-04-06-20-01,2023-04-06-20-12,11,2.857143,4.000000,3.428571,2.571429,6,6,71.833333,61.500000,0.500000
4,s.16fd83ad-7200-44d1-ae9f-1345d3fdb1b2.txt,22,F,9,france,5,4,1,3,1,2,4,1,3,4,4,5,4,5,2,5,4,3,2,4,2,3,5,2,1,5,3,5,False,75,True,50,False,75,True,50,True,50,False,95,False,78,True,76,True,75,True,76,False,75,False,75,2023-04-06-19-57,2023-04-06-20-06,9,2.285714,4.285714,3.571429,3.000000,6,6,62.833333,78.833333,0.500000
5,s.c8831bcc-0972-4eb7-9171-8f8209aa7b3d.txt,29,F,7,italy,5,5,4,4,5,4,2,5,4,5,4,5,2,4,2,4,3,4,2,4,5,5,5,2,4,5,4,5,True,63,False,53,False,63,True,65,True,66,False,58,False,59,True,63,False,69,False,59,True,57,True,53,2023-04-12-19-36,2023-04-12-19-52,16,4.142857,4.428571,4.285714,3.142857,6,6,61.166667,60.166667,0.666667
6,s.02d5da94-d14a-4c5b-8a47-f5326c9d087f.txt,51,M,9,cyprus,2,4,4,3,2,3,2,4,3,4,4,1,2,3,2,1,3,5,3,3,4,3,1,2,4,2,3,4,False,30,True,35,False,25,False,20,True,49,True,45,False,69,False,45,False,50,True,40,True,51,False,55,2023-04-16-18-22,2023-04-16-18-46,24,3.714286,1.571429,3.428571,2.857143,5,7,44.000000,42.000000,0.416667
7,s.8af8c273-aab1-4940-9ccd-fbf0c566aad2.txt,22,M,8,italy,5,4,4,4,2,3,4,5,4,5,4,4,4,5,1,3,4,4,4,5,5,4,3,4,2,5,5,3,False,44,True,53,True,86,True,60,True,38,True,79,False,86,False,69,False,82,False,50,False,63,True,79,2023-04-12-21-14,2023-04-12-21-23,9,3.428571,3.714286,4.285714,4.142857,6,6,65.833333,65.666667,0.833333
8,s.afc9c4c5-05a2-4f08-884a-ec9ce2dc797a.txt,22,F,8,italy,5,3,1,3,3,3,3,3,5,3,3,3,3,3,3,4,3,3,2,3,3,3,3,3,3,3,3,3,False,24,False,23,True,39,False,26,True,36,False,23,True,36,True,44,True,54,True,31,False,34,True,61,2023-04-06-20-15,2023-04-06-20-23,8,2.714286,3.428571,3.285714,2.857143,7,5,43.000000,26.000000,0.416667
9,s.122d2e1b-f87d-4858-b361-1994241a4fe1.txt,22,F,9,china,3,4,4,4,4,3,3,3,2,3,4,1,3,2,2,2,3,4,3,4,5,3,2,3,3,5,3,4,True,79,True,82,False,72,False,73,False,78,True,52,False,37,True,73,False,71,True,70,True,83,False,70,2023-04-06-21-43,2023-04-06-21-50,7,3.571429,2.857143,3.285714,3.000000,6,6,73.166667,66.833333,0.333333
10,s.f3a2cb97-f03f-48ef-8a43-a91f07b96e58.txt,27,M,8,switzerland,4,2,4,2,4,3,2,3,5,3,3,4,2,2,1,2,2,2,3,3,4,3,2,2,4,4,3,3,True,96,True,100,False,71,False,100,True,66,True,77,True,86,True,91,False,67,False,48,False,100,False,71,2023-04-07-15-28,2023-04-07-15-33,5,3.142857,3.142857,2.714286,2.571429,6,6,86.000000,76.166667,0.500000
11,s.e97a7926-06c3-49b4-a15d-1e49bc47cfe5.txt,23,F,5,italy,5,4,4,5,4,3,4,4,3,4,4,5,3,4,3,4,4,5,3,5,3,4,5,3,4,5,3,4,True,90,False,80,True,60,True,81,True,100,True,65,True,50,True,60,False,60,True,70,True,90,False,40,2023-04-06-20-43,2023-04-06-21-06,23,3.714286,4.571429,4.285714,3.285714,9,3,74.000000,60.000000,0.416667
12,s.f5c1f02a-c13a-4ac3-bd57-1957b32c6f8f.txt,22,F,9,greece,5,4,4,3,4,4,4,4,3,2,5,5,2,3,3,4,3,4,2,3,4,5,5,2,3,5,2,5,True,70,True,65,False,50,False,100,False,42,False,60,True,65,False,50,False,59,False,41,True,60,True,56,2023-04-14-11-27,2023-04-14-11-41,14,4.000000,4.571429,3.571429,2.428571,5,7,63.200000,57.428571,0.583333
13,s.d7224388-97ea-4d65-ab83-cbe1e458da39.txt,22,M,6,italy,5,4,1,5,3,3,3,4,4,5,4,2,4,5,4,3,5,5,3,3,1,5,3,3,4,4,4,5,False,25,True,25,True,70,True,10,True,60,False,20,True,40,False,30,True,10,False,30,True,85,False,70,2023-04-07-09-34,2023-04-07-09-54,20,3.285714,3.285714,4.428571,3.857143,7,5,42.857143,35.000000,0.583333
14,s.8ea00d40-8e3e-48d9-b45d-7f796f73387d.txt,22,M,7,italy,4,2,4,4,4,3,2,4,4,4,4,4,3,4,5,2,4,4,2,2,4,3,3,1,2,3,1,2,True,65,True,64,False,64,False,68,True,74,False,71,False,65,True,70,False,67,True,59,True,72,False,67,2023-04-08-00-07,2023-04-08-00-16,9,3.571429,3.142857,3.285714,2.571429,6,6,67.333333,67.000000,0.500000
15,s.5fd695d4-a037-4334-8d54-6f8efaf0e60f.txt,21,M,10,ireland,5,5,3,4,4,5,4,4,5,5,5,5,4,5,2,3,5,4,4,5,3,5,5,3,4,5,4,4,True,90,False,66,True,36,False,41,False,50,True,32,False,71,False,42,False,30,True,80,True,81,False,60,2023-04-19-17-22,2023-04-19-17-33,11,3.571429,4.428571,4.714286,4.285714,5,7,63.800000,51.428571,0.416667
16,s.3496ce73-4e45-435c-ba88-474c41f2e1de.txt,22,M,8,italy,2,3,4,3,3,2,2,5,4,4,4,3,2,4,3,3,3,5,2,4,4,3,2,1,4,4,2,4,True,0,False,66,False,79,True,65,True,92,False,54,False,83,False,52,False,73,True,62,True,86,True,58,2023-04-12-09-38,2023-04-12-09-53,15,4.000000,2.714286,3.714286,2.285714,6,6,60.500000,67.833333,0.666667
17,s.61adbd0c-6987-459a-a335-9c3d26616abf.txt,22,F,8,italy,5,1,1,4,5,4,5,4,4,2,5,5,4,3,4,4,5,5,3,4,4,5,5,2,2,5,2,4,False,80,True,60,False,50,False,90,False,70,False,50,False,50,True,50,True,70,False,60,True,80,False,100,2023-04-06-19-17,2023-04-06-19-30,13,3.428571,4.857143,3.714286,3.142857,4,8,65.000000,68.750000,0.333333
18,s.aadc9378-4472-401d-8737-a3450f7376d8.txt,19,M,10,australia,4,1,5,1,3,2,3,2,1,2,1,2,1,1,1,1,2,1,2,1,2,1,2,1,1,1,1,1,False,30,False,60,True,45,False,75,False,45,False,5,True,61,True,21,True,50,True,40,True,10,True,60,2023-04-20-16-25,2023-04-20-16-37,12,1.857143,2.285714,1.000000,1.571429,7,5,41.000000,43.000000,0.250000
19,s.cde07871-328e-48c3-802b-4679db94cb9f.txt,23,M,9,france,2,5,4,3,4,1,2,4,5,3,4,3,2,3,4,3,1,5,1,5,2,3,4,1,4,4,1,2,True,50,True,60,True,25,True,25,True,70,False,50,True,32,False,76,False,44,False,0,True,100,False,75,2023-04-15-19-10,2023-04-15-19-23,13,3.428571,3.142857,4.142857,1.428571,7,5,51.714286,49.000000,0.750000
20,s.408f301e-362e-4471-8659-f79178ccd760.txt,23,F,7,italy,5,4,4,4,5,3,5,4,3,2,4,5,1,5,4,5,2,4,2,4,4,5,5,2,3,5,3,4,True,70,False,5,True,34,False,18,True,16,False,25,True,50,True,67,True,35,True,20,False,32,False,55,2023-04-07-11-52,2023-04-07-12-12,20,3.857143,5.000000,4.142857,2.142857,7,5,41.714286,27.000000,0.416667
21,s.e4830929-a9bb-4e2e-ae61-be41d411fd60.txt,44,F,10,united kingdom,4,4,4,2,4,3,5,4,4,3,4,5,3,4,2,3,3,4,2,4,3,4,4,3,3,4,2,3,False,61,True,51,True,0,True,52,False,51,True,78,False,52,False,70,True,71,True,75,True,61,True,50,2023-04-16-21-00,2023-04-16-21-15,15,3.285714,4.142857,3.714286,2.714286,8,4,54.750000,58.500000,0.500000
22,s.52e488ea-7248-4052-9069-081dd0668f98.txt,19,F,7,italy,4,4,5,5,4,2,5,4,4,2,4,5,4,4,4,4,2,5,2,4,4,4,3,3,4,4,3,5,True,75,False,65,True,80,True,80,True,90,False,75,False,50,True,91,True,80,True,90,True,95,False,90,2023-04-12-19-37,2023-04-12-20-27,50,4.285714,4.142857,4.285714,2.571429,8,4,85.125000,70.000000,0.500000
23,s.b63cae49-3cdf-4eac-8338-dc8471eb048d.txt,22,F,9,italy,3,4,4,4,4,3,4,4,4,3,4,4,2,4,4,2,2,4,2,4,5,3,4,2,3,5,3,4,True,71,True,77,False,62,True,33,True,43,False,41,False,57,True,75,False,38,False,44,True,71,True,77,2023-04-07-13-47,2023-04-07-13-55,8,4.000000,3.714286,3.857143,2.428571,7,5,63.857143,48.400000,0.750000
24,s.dd06f21b-25bc-48fb-9578-1803db534150.txt,23,M,9,palestine,5,5,1,1,3,2,5,3,3,5,4,5,2,1,2,5,5,5,2,5,3,4,5,2,1,4,2,1,False,53,False,10,False,79,False,71,True,78,False,12,False,83,False,70,True,17,True,71,False,50,True,50,2023-04-15-01-36,2023-04-15-01-44,8,2.142857,4.571429,3.428571,2.857143,4,8,54.000000,53.500000,0.500000
25,s.01cacc18-a6a1-4d97-8cb9-2a366dd54bba.txt,55,M,10,switzerland,2,4,5,5,3,2,3,4,5,2,4,4,4,4,5,3,2,5,2,4,4,3,3,1,2,3,2,4,True,70,False,39,False,60,False,64,True,70,False,50,False,64,True,65,True,51,True,56,False,82,False,74,2023-04-18-15-52,2023-04-18-16-04,12,4.000000,3.000000,4.285714,2.142857,5,7,62.400000,61.857143,0.416667
26,s.fc9aa680-4a82-4b5f-b35c-dad60e18f867.txt,22,M,9,italy,3,5,4,5,1,3,2,4,4,3,4,3,2,4,2,4,4,5,3,4,2,4,2,2,3,3,3,4,True,95,False,75,True,65,False,95,True,60,False,70,False,65,True,49,True,60,False,85,False,75,False,70,2023-04-07-10-54,2023-04-07-11-16,22,3.285714,2.571429,4.428571,2.857143,5,7,65.800000,76.428571,0.583333
27,s.f8ace325-9313-449b-bc8d-efd837f1fde8.txt,26,F,4,france,1,5,4,5,4,5,4,4,5,5,4,5,5,5,2,4,5,5,5,5,3,5,1,5,2,5,2,4,True,49,True,68,True,68,True,57,True,17,False,0,True,63,False,53,True,48,True,52,True,53,False,47,2023-04-07-13-30,2023-04-07-13-41,11,3.285714,3.428571,5.000000,4.571429,9,3,52.777778,33.333333,0.583333
28,s.97546e89-ac25-48f6-8106-c77611081d76.txt,29,M,6,italy,3,4,4,5,4,1,3,4,4,4,3,4,2,4,4,2,4,4,2,4,4,4,4,2,3,5,2,3,True,70,True,54,True,65,False,65,True,65,False,60,True,51,False,65,False,70,True,65,False,70,False,66,2023-04-06-21-00,2023-04-06-21-25,25,3.571429,3.571429,4.142857,2.428571,6,6,61.666667,66.000000,0.666667
29,s.f17b2d85-6a3f-49db-b8dc-b712e6b84dc2.txt,22,F,8,morroco,4,4,4,3,4,3,3,4,3,4,4,4,4,4,2,3,4,4,3,4,4,4,4,2,2,3,4,3,False,30,True,55,True,70,False,20,True,40,True,25,True,35,False,25,True,80,True,70,True,60,False,32,2023-04-06-20-34,2023-04-06-20-50,16,3.285714,3.571429,3.714286,3.428571,8,4,54.375000,26.750000,0.333333
30,s.a119b387-008d-4e85-b11f-b44c62801328.txt,20,F,8,israel,3,1,3,4,3,1,3,4,3,3,3,3,3,1,3,2,2,5,4,3,1,2,3,2,3,3,2,2,True,92,False,15,False,70,False,38,False,72,True,49,True,68,True,68,True,49,True,70,False,85,True,100,2023-04-14-22-07,2023-04-14-22-11,4,2.714286,2.857143,2.714286,2.428571,7,5,70.857143,56.000000,0.250000
31,s.4d68eb71-a70e-4df0-aa55-8db28b3a57d7.txt,26,M,7,italy,5,3,3,3,4,2,1,3,4,3,3,5,1,3,3,4,3,3,2,4,5,3,3,2,3,4,3,3,False,85,True,60,True,50,False,80,True,60,True,80,False,70,False,50,False,50,True,40,True,85,True,46,2023-04-06-21-54,2023-04-06-22-07,13,3.285714,3.714286,3.285714,2.285714,7,5,60.142857,67.000000,0.583333
32,s.1b7834df-9e57-4604-ad66-a903e7dd898d.txt,21,M,8,france,1,4,4,3,2,3,3,5,3,1,5,3,2,3,5,2,1,5,2,3,4,2,3,1,3,2,4,4,True,91,False,32,False,39,True,82,False,65,True,93,False,73,True,61,True,63,True,72,True,83,True,50,2023-04-12-20-11,2023-04-12-20-30,19,4.285714,2.285714,3.285714,2.000000,8,4,74.375000,52.250000,0.333333
33,s.c0171fc8-9542-42b8-b03d-92006f2cff55.txt,23,M,10,switzerland,5,2,2,2,1,3,3,2,2,2,3,3,3,2,2,4,3,3,3,2,3,3,4,2,2,4,1,2,True,31,True,25,True,2,False,24,False,23,True,49,False,25,True,63,True,52,True,50,True,3,True,50,2023-04-17-19-24,2023-04-17-19-39,15,2.285714,3.428571,2.285714,2.428571,9,3,36.111111,24.000000,0.416667
34,s.5f225c38-ac5b-41f0-9fee-d102828074de.txt,20,M,8,cyprus,3,5,5,5,4,2,4,4,4,2,3,4,2,4,4,3,2,4,2,4,3,5,4,1,4,2,3,4,True,8,False,35,False,67,True,77,False,30,False,17,False,37,False,21,False,65,True,10,True,43,True,11,2023-04-14-12-50,2023-04-14-13-04,14,3.857143,3.428571,4.428571,2.000000,5,7,29.800000,38.857143,0.583333
35,s.a2d3359b-7089-4e06-850c-2eff0fc36355.txt,23,F,9,italy,3,5,5,5,5,4,5,3,5,3,5,5,5,5,1,5,3,5,2,5,3,5,5,5,5,5,1,5,True,78,True,93,False,51,True,81,True,93,True,62,True,56,True,82,False,76,True,91,True,79,True,59,2023-04-10-15-24,2023-04-10-15-32,8,3.857143,4.714286,5.000000,3.285714,10,2,77.400000,63.500000,0.500000
36,s.141a6a9f-ee79-4625-8eec-870a371d9c0f.txt,23,F,8,italy,4,2,4,4,3,2,4,4,4,2,4,4,2,5,3,2,4,4,3,4,5,3,3,2,2,3,2,4,False,50,False,50,False,50,True,70,True,83,False,50,True,86,True,81,False,93,True,31,True,65,False,92,2023-04-06-19-36,2023-04-06-19-50,14,3.714286,3.285714,3.714286,2.428571,6,6,69.333333,64.166667,0.333333
37,s.c807112b-07c1-40ed-b446-1aa27eea826d.txt,19,M,4,france,5,4,4,1,3,2,2,4,4,5,4,2,3,2,5,2,1,1,5,2,4,1,2,4,4,4,5,5,True,40,False,10,True,70,False,25,True,30,True,30,True,20,True,80,False,55,False,70,True,70,False,90,2023-04-09-00-37,2023-04-09-00-53,16,4.285714,2.857143,2.142857,3.571429,7,5,48.571429,50.000000,0.416667
38,s.16c9b7c6-7fdd-47fb-861d-cf233f5e52c3.txt,22,M,8,italy,3,4,2,2,2,2,2,4,5,3,2,2,3,2,2,2,2,5,3,2,5,2,3,3,2,2,2,2,False,60,False,71,False,60,True,63,True,74,False,82,False,71,True,75,True,66,False,60,True,80,True,60,2023-04-07-00-37,2023-04-07-00-44,7,2.714286,2.285714,3.142857,2.571429,6,6,69.666667,67.333333,0.500000
39,s.b98f2f5c-4abe-46ce-a50b-bcbda11eb917.txt,23,F,10,syria,4,5,5,5,5,3,5,4,5,4,5,5,4,5,3,4,2,5,2,5,4,5,3,1,4,4,4,4,True,70,True,81,False,21,False,30,False,65,False,51,False,55,True,89,True,80,True,40,True,100,False,60,2023-04-16-19-38,2023-04-16-19-48,10,4.142857,4.285714,5.000000,2.857143,6,6,76.666667,47.000000,0.333333
40,s.2b4c5f1d-ed73-4780-a0ff-259c7f0cb47c.txt,22,M,9,italy,3,3,3,4,3,2,2,4,3,4,3,4,2,4,4,3,4,3,2,3,5,3,3,2,4,2,2,2,True,65,True,75,False,55,False,80,True,65,True,70,True,80,True,70,False,70,False,0,True,0,False,75,2023-04-07-11-06,2023-04-07-11-17,11,3.571429,2.857143,3.285714,2.571429,7,5,60.714286,56.000000,0.416667
41,s.b28cae13-ff1e-4a0f-8afd-0161f8bdc1cc.txt,30,F,10,united states,4,4,5,5,5,3,4,4,5,3,5,3,4,5,4,3,3,5,4,4,4,4,4,3,4,5,3,4,True,61,True,74,True,60,False,55,True,75,True,60,False,85,False,60,True,66,True,70,True,80,False,70,2023-04-16-18-42,2023-04-16-18-57,15,4.285714,4.000000,4.571429,3.285714,8,4,68.250000,67.500000,0.500000
42,s.243e8534-e839-436a-a224-bbf920a20349.txt,23,F,8,italy,5,4,2,5,4,1,4,4,4,4,4,3,4,4,3,2,5,5,2,4,3,4,2,3,2,4,3,3,False,30,False,36,True,63,False,27,True,90,True,40,True,48,False,42,True,44,False,80,True,90,True,70,2023-04-06-20-11,2023-04-06-20-27,16,3.000000,3.428571,4.285714,3.142857,7,5,63.571429,43.000000,0.416667
43,s.8a0668c6-4708-4641-ba2a-e0e8b831b765.txt,22,M,8,hungary,2,3,4,2,4,4,4,4,4,3,4,4,4,3,4,4,2,5,2,3,5,4,4,1,2,3,2,2,True,60,False,74,True,75,True,61,False,60,True,70,False,75,False,66,True,51,True,72,False,31,False,81,2023-04-09-08-10,2023-04-09-08-25,15,3.571429,3.571429,3.428571,2.571429,6,6,64.833333,64.500000,0.500000
44,s.736ec993-6b98-45af-858b-1f8c0fcb5fe5.txt,23,F,10,united states,4,4,4,4,4,3,4,5,4,3,4,4,4,4,3,3,4,4,3,3,4,3,4,3,3,4,2,3,False,4,True,25,False,40,True,16,True,12,True,8,False,8,False,10,False,2,True,25,False,5,False,14,2023-04-16-22-56,2023-04-16-23-09,13,3.714286,3.857143,3.714286,3.142857,5,7,17.200000,11.857143,0.583333
45,s.d14b6c44-c1fc-4d9b-a907-7d6e7cec40ff.txt,22,F,9,italy,2,4,4,4,4,4,4,5,4,5,5,4,3,4,4,2,4,3,3,5,5,3,3,2,4,3,2,4,True,80,True,80,False,80,False,90,True,70,False,90,False,50,False,80,False,70,True,70,True,90,False,80,2023-04-10-08-29,2023-04-10-08-45,16,4.428571,3.142857,3.857143,3.285714,5,7,78.000000,77.142857,0.583333
46,s.a0749706-e0fb-4cb8-8a5d-c0d4a2791cf3.txt,20,M,7,france,4,4,4,2,3,2,4,4,4,4,4,1,2,3,4,1,2,4,2,3,4,3,2,1,3,5,1,5,False,30,False,70,False,65,True,0,True,50,True,85,False,70,True,81,False,30,True,20,False,50,False,60,2023-04-09-12-31,2023-04-09-12-48,17,4.000000,2.857143,3.285714,2.000000,5,7,47.200000,53.571429,0.416667
47,s.88415f2f-50c2-4372-bf11-79aa2c86326d.txt,22,F,9,italy,5,3,3,3,2,4,5,4,2,2,1,2,5,4,1,3,4,4,2,5,5,4,3,4,2,2,1,3,True,60,True,88,False,100,True,73,False,83,True,0,False,69,True,71,True,75,True,65,True,58,False,0,2023-04-06-19-32,2023-04-06-19-38,6,2.714286,3.142857,3.571429,3.142857,8,4,61.250000,63.000000,0.333333
48,s.7762b9fe-d5a6-43cf-903a-221853c0ad46.txt,22,M,9,cyprus,5,2,3,4,2,4,2,5,4,3,3,1,3,4,5,2,3,4,1,3,3,3,3,2,3,2,3,5,True,26,True,26,True,74,True,74,True,100,True,75,False,74,True,37,True,25,False,28,False,76,False,88,2023-04-09-11-21,2023-04-09-11-33,12,3.857143,2.428571,3.428571,2.714286,8,4,54.625000,66.500000,0.666667
49,s.78d08a62-cce0-4ddd-91bb-738f66fe3b07.txt,32,F,10,united states,5,4,4,3,4,2,4,4,4,2,3,4,2,5,4,4,4,4,2,5,4,4,3,2,2,4,2,4,True,80,True,50,True,50,True,60,True,70,False,69,False,75,True,100,False,60,True,50,False,90,False,55,2023-04-20-03-07,2023-04-20-03-18,11,3.571429,4.000000,4.142857,2.285714,7,5,65.714286,69.800000,0.750000